---
- name: Deploy DevOps Project
  hosts: servers
  become: yes

  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes

    - name: Install Docker and Compose
      apt:
        name:
          - docker.io
          - docker-compose
        state: present

    - name: Create project directory
      file:
        path: /opt/devops-project
        state: directory

    - name: Copy project files
      copy:
        src: ../
        dest: /opt/devops-project/
        mode: '0755'

    - name: Start project with Docker Compose
      command: docker compose up -d --build
      args:
        chdir: /opt/devops-project

